@(form: Form[Boolean], admin: Admin)(implicit me: Admin, flash: Flash, lang: Lang)

@main(Messages("views.admins.adminDetails", admin.email)) {
  <h1>@Messages("views.admins.adminDetails", admin.email)</h1>
  <dl>
    <dt>@Messages("id")</dt>
    <dd>@{admin.id | id}</dd>
    <dt>@Messages("firstname")</dt>
    <dd>@{admin.firstName}</dd>
    <dt>@Messages("lastname")</dt>
    <dd>@{admin.lastName}</dd>
    <dt>@Messages("email")</dt>
    <dd>@{admin.email}</dd>
    <dt>@Messages("creationDate")</dt>
    <dd>@{admin.creation | date.long}</dd>
  </dl>
  @helper.form(controllers.admins.routes.Admins.update(admin.id)) {
    <fieldset>
      <legend>@Messages("status")</legend>
      @helper.checkbox(form("active"))
    </fieldset>
    <button>@Messages("update")</button>
  }
}
