@(form: Form[(String, String, String, Password)])(implicit me: Admin, flash: Flash)

@main("Sign up") {
  <form action="@controllers.admins.routes.Admins.create" method="POST">
    <fieldset>
      <legend>Profile</legend>
      @helper.inputText(form("firstname"))
      @helper.inputText(form("lastname"))
    </fieldset>
    <fieldset>
      <legend>Credentials</legend>
      @helper.inputText(form("email"))
      @helper.inputPassword(form("password"))
    </fieldset>
    <button>Create admin</button>
  </form>
}
