@(admins: Seq[Admin])(implicit admin: Admin, flash: Flash)

@main("List of admins") {
  <table>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>email</th>
      <th>Creation date</th>
    </tr>
    @admins.map { admin =>
    <tr>
      <td><a href="@controllers.admins.routes.Admins.details(admin.id)">@admin.id.value</a></td>
      <td>@admin.firstName</td>
      <td>@admin.lastName</td>
      <td>@admin.email</td>
      <td>@admin.creation</td>
    </tr>
    }
  </table>
}
