@(form: Form[(String, String)])
<!DOCTYPE html>
<html>
    <head>
        <title>ADMIN - Sign in</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
      <h1>Admin</h1>
      <form action="@controllers.admins.routes.Authentication.authenticate" method="POST">
        <fieldset>
          <legend>Sign in</legend>
          @helper.inputText(form("login"))
          @helper.inputPassword(form("password"))
        </fieldset>
        <button>Sign in</button>
      </form>
    </body>
</html>
