@(form: Form[(String, Password)])(implicit maybeMe: Option[User], flash: Flash, lang: Lang)

@main(Messages("signin")) {
  <form action="@routes.Authentication.authenticate" method="POST">
    <fieldset>
      <legend>@Messages("signin")</legend>
      @helper.inputText(form("email"), '_label -> Messages("email"))
      @helper.inputPassword(form("password"), '_label -> Messages("password"))
    </fieldset>
    <button>@Messages("signin")</button>
  </form>
  <a href="@routes.Visitors.signup">@Messages("signup")</a>
}
