@(form: Form[(String, String, String, Password)])(implicit maybeMe: Option[User], flash: Flash, lang: Lang)

@main("Sign up") {
  @helper.form(routes.Visitors.subscribe) {
    <fieldset>
      <legend>@Messages("profile")</legend>
      @helper.inputText(form("firstname"))
      @helper.inputText(form("lastname"))
    </fieldset>
    <fieldset>
      <legend>@Messages("credentials")</legend>
      @helper.inputText(form("email"))
      @helper.inputPassword(form("password"))
    </fieldset>
    <button>@Messages("signup")</button>
  }
}
