@(login: String)(implicit me: User, flash: Flash)

@main("My home") {
  <h1>Your area</h1>

  <section>
    <h2>Your profile</h2>
    <dl>
      <dt>First name</dt>
      <dd>@{me.firstName}</dd>
      <dt>Last name</dt>
      <dd>@{me.lastName}</dd>
      <dt>Email</dt>
      <dd>@{me.email}</dd>
    </dl>
    <a href="@Controllers.routes.Users.profile">Modify my profile</a>
  </section>

  <section>
    <h2>Credentials</h2>
    <dl>
      <dt>Login</dt>
      <dd>@{login}</dd>
    </dl>
    <a href="@Controllers.routes.Users.password">Modify my password</a>
  </section>
}
