@(title: String)(content: Html)(implicit flash: Flash)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <header>
          <nav>
            <ul>
              <li class="brand"><a href="@controllers.routes.Visitors.home()">Home</a></li>
              <li class="signin"><a href="#TODO">Signin</a></li>
            </ul>
          </nav>
        </header>
        @flash.data.toList.map { t =>
        <div class="flash @t._1">@t._2</div>
        }
        @content
    </body>
</html>
