@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <header>
          <nav>
            <ul>
              <li class="brand"><a href="@controllers.routes.Visitors.home()">Home</a></li>
              <li class="signin"><a href="#TODO">Signin</a></li>
            </ul>
          </nav>
        </header>
        @content
    </body>
</html>
