@(form: Form[(Password, Password)])(implicit me: User, flash: Flash, lang: Lang)

@main(Messages("views.users.password.modifyPassword")) {
  <h1>@Messages("views.users.password.modifyPassword")</h1>
  <form method="POST">
    <fieldset>
      <legend>@Messages("password")</legend>
      @helper.inputPassword(form("password"))
      @helper.inputPassword(form("newpassword"))
    </fieldset>
    <a href="@routes.Users.home" rel="prev">@Messages("back")</a>
    <button type="submit">@Messages("update")</button>
  </form>
}
