@(createdAdmin: Admin, login: String, password: Password, creator: Admin)(implicit lang: Lang)

<html>
<head>
  <title>@Messages("emails.admins.create.subject")</title>
</head>
<body>
  <header>@Messages("emails.admins.create.header", createdAdmin | fullname)</header>
  <p>@Messages("emails.admins.create.created", creator | fullname)</p>
  <p>
    @Messages("emails.admins.create.credentials")
    <dl>
      <dt>@Messages("login")</dt>
      <dd>@login</dd>
      <dt>@Messages("password")</dt>
      <dd>@{password.neverLog(identity)}</dd>
    </dl>
  </p>
  <footer>@Messages("emails.admins.create.footer")</footer>
</body>
</html>
